.App {
  max-width: calc(1rem / 16 * 960);
  margin: 0 auto;
}

nav {
  display: flex;
  margin: 0 auto calc(1rem / 16 * 60);
  gap: calc(1rem / 16 * 10);
  align-items: center;
}

nav h1 {
  margin-right: auto;
}

nav a {
  color: #333;
  padding: calc(1rem / 16 * 4) calc(1rem / 16 * 10);
}

nav a.active {
  color: #ddd;
  background-color: #333;
  text-decoration: none;
}